<template>
  <div class="board-page">
    <div class="d-flex flex-column h-100">
      <BoardHeader />
      <BoardCanvas class="flex-grow-1">
        <Draggable
          v-model="lists"
          :options="draggableOptions('lists')"
          style="height: 100%;"
        >
          <BoardList v-for="list in lists" :key="list.id">
            <template slot="title-content">
              <Editable v-model="list.title" />
            </template>
            <Draggable
              v-model="list.cards"
              class="draggable"
              :options="draggableOptions('cards')"
              @start="startDragging"
              @end="endDragging"
            >
              <BoardCard v-for="card in list.cards" :key="card.id">
                <template slot="labels-content">
                  <template v-for="label in card.labels">
                    <BoardLabel
                      :key="label.id"
                      :title="label.name"
                      :color="label.color"
                      :open="openBoardLabel"
                      @click="openBoardLabel = !openBoardLabel"
                    />
                  </template>
                </template>
                {{ card.title }}
              </BoardCard>
              <div
                v-if="list.cards.length === 0 && dragging"
                slot="footer"
                class="draggable-footer"
              />
            </Draggable>
          </BoardList>
        </Draggable>
      </BoardCanvas>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Draggable from 'vuedraggable'
import BoardHeader from '@/components/BoardHeader.vue'
import BoardCanvas from '@/components/BoardCanvas.vue'
import BoardList from '@/components/BoardList.vue'
import BoardCard from '@/components/BoardCard.vue'
import BoardLabel from '@/components/BoardLabel.vue'
import Editable from '@/components/Editable.vue'

interface ListModel {
  id: string
  title: string
  cards: BaseCardModel[]
}

interface BaseCardModel {
  id: string
  title: string
  labels: BoardLabelModel[]
}

interface BoardLabelModel {
  id: string
  name: string
  color: string
}

@Component({
  components: {
    BoardHeader,
    BoardCanvas,
    BoardList,
    BoardCard,
    BoardLabel,
    Draggable,
    Editable
  },
  filters: {}
})
export default class BoardPage extends Vue {
  lists: ListModel[] = [
    {
      id: '1',
      title: 'Inbox',
      cards: [
        {
          id: '1',
          title: 'お米を買う',
          labels: [{ id: '1', name: '買い物', color: 'red' }]
        },
        {
          id: '2',
          title: '歯磨き粉を買う',
          labels: [{ id: '1', name: '買い物', color: 'red' }]
        },
        {
          id: '3',
          title: '醤油を買う',
          labels: [{ id: '1', name: '買い物', color: 'red' }]
        },
        { id: '4', title: '目玉焼きを作る', labels: [] }
      ]
    },
    {
      id: '2',
      title: 'To do',
      cards: [
        {
          id: '9',
          title: '報告書を書く',
          labels: [{ id: '2', name: '仕事', color: 'blue' }]
        },
        {
          id: '10',
          title: '月末の精算書を作る',
          labels: [
            { id: '2', name: '仕事', color: 'blue' },
            { id: '3', name: '月末', color: 'green' },
            { id: '4', name: '月末', color: 'green' },
            { id: '5', name: '月末', color: 'green' },
            { id: '6', name: '月末', color: 'green' },
            { id: '7', name: '月末だけやるタスク', color: 'green' }
          ]
        }
      ]
    },
    { id: '3', title: 'Doing', cards: [] },
    { id: '4', title: 'Done', cards: [] }
  ]
  dragging = false
  openBoardLabel = false

  draggableOptions(group: string) {
    return {
      group,
      ghostClass: 'is-ghost',
      chosenClass: 'is-chosen',
      dragClass: 'is-drag',
      scroll: true,
      forceFallback: true,
      fallbackOnBody: true
    }
  }

  startDragging() {
    this.dragging = true
  }
  endDragging() {
    this.dragging = false
  }
}
</script>

<style lang="scss" scoped>
.board-page {
  height: 100%;
}
.draggable-footer {
  min-height: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
</style>
