<template>
  <div class="board-card">
    <div class="board-card-header">
      <div class="board-card-header-labels"><slot name="labels-content" /></div>
    </div>
    <div class="board-card-body"><slot /></div>
    <div class="board-card-footer" />
  </div>
</template>

<style lang="scss" scoped>
.board-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  user-select: none;

  &.is-ghost {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    box-shadow: none;

    > * {
      visibility: hidden;
    }
  }
}

.board-card-header-labels {
  line-height: 1rem;
}
</style>
