<template>
  <div class="board-canvas-wrapper">
    <div class="board-canvas fancy-scrollbar"><slot /></div>
  </div>
</template>

<style lang="scss" scoped>
.board-canvas-wrapper {
  position: relative;
}
.board-canvas {
  bottom: 0;
  left: 0;
  margin-bottom: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 0.5rem 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  user-select: none;
}
.fancy-scrollbar {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    background-color: transparent;
    display: none;
  }

  &::-webkit-scrollbar-track-piece {
    background: rgba(9, 45, 66, 0.08);
  }

  &::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 4px 4px 0 0;
  }

  &::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 4px 4px;
  }

  &::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 4px 0 0 4px;
  }

  &::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 4px 4px 0;
  }

  &::-webkit-scrollbar-thumb:vertical,
  &::-webkit-scrollbar-thumb:horizontal {
    background: rgba(9, 45, 66, 0.13);
    border-radius: 4px;
    display: block;
    height: 48px;
  }
}
</style>
