<template>
  <b-navbar toggleable type="dark">
    <b-navbar-brand>Myタスク</b-navbar-brand>
    <b-navbar-nav>
      <b-nav-item> <fa-icon :icon="['far', 'star']" /> </b-nav-item>
      <span class="divider" />
      <b-nav-item>プライベート</b-nav-item>
      <span class="divider" />
      <b-nav-item> <fa-icon :icon="['fas', 'lock']" /> 非公開 </b-nav-item>
    </b-navbar-nav>
    <b-navbar-nav class="ml-auto">
      <b-nav-item>
        <fa-icon :icon="['fas', 'ellipsis-h']" /> ボードメニューを表示
      </b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<style lang="scss" scoped>
.divider {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 32px;
  margin: 4px 0.5rem;
}
</style>
