<template>
  <span
    class="board-label"
    :class="clazz"
    :style="style"
    :title="title"
    v-b-tooltip.hover.nofade.d200
    v-on="$listeners"
  >
    {{ title }}
  </span>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from 'vue-property-decorator'

@Component
export default class BoardLabel extends Vue {
  @Prop(String)
  title!: string
  @Prop(String)
  color!: string
  @Prop(Boolean)
  open!: boolean

  get style() {
    return {
      backgroundColor: this.color
    }
  }

  get clazz() {
    return {
      'is-front': this.open
    }
  }
}
</script>

<style lang="scss" scoped>
.board-label {
  border-radius: 0.375rem;
  color: transparent;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  height: 0.75rem;
  margin: 0 0.25rem 0.25rem 0;
  max-width: 3rem;
  min-width: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: none 0.5s 0s ease;
  transition-property: color, height, line-height, max-width, padding;
  white-space: nowrap;
  width: auto;

  &.is-front {
    color: white;
    height: 1rem;
    line-height: 1.5;
    max-width: 5rem;
    padding: 0 0.5rem;
  }
}
</style>
