<template>
  <div class="board-list-wrapper">
    <div class="board-list">
      <div class="board-list-header">
        <div class="board-list-header-title"><slot name="title-content" /></div>
        <button class="board-list-header-btn" type="button">
          <fa-icon :icon="['fas', 'ellipsis-h']" />
        </button>
      </div>
      <div class="board-list-body"><slot /></div>
      <div class="board-list-footer">
        <button class="board-list-footer-btn" type="button">
          <fa-icon :icon="['fas', 'plus']" />
          <slot name="add-card-button-content">カードを追加</slot>
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.board-list-wrapper {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  width: 20rem;
  height: 100%;
  vertical-align: top;
  white-space: nowrap;
}

.board-list {
  background-color: #eee;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;

  .is-ghost & {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    box-shadow: none;
    color: transparent;

    > * {
      visibility: hidden;
    }
  }
}

.board-list-header {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: 0.25rem;
  position: relative;
}

.board-list-header-title {
  flex: 1;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  padding-left: 0.5rem;
  user-select: none;
}

.board-list-header-btn {
  background-color: transparent;
  border-radius: 4px;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  height: 2.5rem;
  line-height: 2;
  outline: none;
  width: 2.5rem;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.board-list-body {
  flex: 1;
  overflow-y: auto;
  padding: 0 0.5rem;
}

.board-list-footer {
  position: relative;
}

.board-list-footer-btn {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  font-size: 1rem;
  line-height: 2;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
</style>
