<template>
  <div class="editable">
    <div v-if="!editing" class="editable-label" @click="startEdit()">
      {{ value }}
    </div>
    <input
      v-else
      v-focus
      type="text"
      class="editable-input"
      :value="value"
      @input="$emit('input', $event.target.value)"
      @blur="finishEdit()"
      @keypress.enter="handleKeypressEnter"
      @keyup.enter="handleKeyupEnter"
      @keyup.esc="finishEdit()"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { focus } from '@/directives'

export default Vue.extend({
  directives: {
    focus
  },
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      editing: false,
      keypressOccurredOnEnter: false
    }
  },
  methods: {
    startEdit() {
      this.editing = true
      this.$emit('edit-start')
    },
    finishEdit() {
      this.editing = false
      this.keypressOccurredOnEnter = false
      this.$emit('edit-finish')
    },
    handleKeypressEnter() {
      this.keypressOccurredOnEnter = true
    },
    handleKeyupEnter() {
      // keyupイベントの前にkeypressイベントが発生していなければ、IME変換確定時のEnter
      // see: https://garafu.blogspot.com/2015/09/javascript-ime-enter-event.html
      if (this.keypressOccurredOnEnter) {
        this.finishEdit()
      } else {
        this.keypressOccurredOnEnter = false
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.editable-input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  margin: -0.25rem -0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #666;
  box-shadow: 0 0 0 1px #666;
}
</style>
