<template>
  <div class="header"><h1 class="header-title">Tablete</h1></div>
</template>

<style type="scss" scoped>
.header {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(255, 255, 255, 0.54);
  padding: 0.5rem;
}
.header-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
</style>
