<template>
  <button class="a-button">
    <!-- @slot Button content -->
    <slot />
  </button>
</template>

<script>
/**
 * ボタン
 */
export default {
  name: 'AButton'
}
</script>

<docs>
```jsx
<AButton>AButton</AButton>
```
</docs>
