<template>
  <span :class="classes" />
</template>

<script>
/**
 * ナビゲーションバーの区切り線
 */
export default {
  name: 'ANavbarDivider',

  props: {
    /**
     * 背景色の色合い
     * `light, dark`
     */
    bgType: {
      type: String,
      required: false,
      default: 'light',
      validator(v) {
        return ['light', 'dark'].includes(v)
      }
    }
  },

  computed: {
    classes() {
      return [
        'a-navbar-divider',
        {
          'is-light': this.bgType === 'light',
          'is-dark': this.bgType === 'dark'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
$a-navbar-divider-color-light: rgba(#333, 0.2) !default;
$a-navbar-divider-color-dark: rgba(#fff, 0.2) !default;
$a-navbar-divider-line-height: 2rem !default;
$a-navbar-divider-height: 2rem !default;
$a-navbar-divider-margin-x: 0.5rem !default;
$a-navbar-divider-margin-y: 4px !default;

.a-navbar-divider {
  border-left-style: solid;
  border-left-width: 1px;
  height: $a-navbar-divider-height;
  line-height: $a-navbar-divider-line-height;
  margin: $a-navbar-divider-margin-y $a-navbar-divider-margin-x;

  &.is-light {
    border-left-color: $a-navbar-divider-color-light;
  }

  &.is-dark {
    border-left-color: $a-navbar-divider-color-dark;
  }
}
</style>
