<template>
  <div :class="classes">
    <!-- @slot Content -->
    <slot />
  </div>
</template>

<script>
/**
 * ナビゲーションバーのナビゲーション
 */
export default {
  name: 'ANavbarNav',

  props: {
    /**
     * 右寄せ
     */
    right: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  computed: {
    classes() {
      return ['a-navbar-nav', { 'is-right': this.right }]
    }
  }
}
</script>

<style lang="scss" scoped>
$a-navbar-nav-margin: -0.5rem !default;
$a-navbar-nav-padding: 0.5rem !default;

.a-navbar-nav {
  margin: $a-navbar-nav-margin;
  padding: $a-navbar-nav-padding;
  display: flex;
  align-items: stretch;

  &.is-right {
    margin-left: auto;
  }
}
</style>
