<template>
  <a :class="classes">
    <!-- @slot Content -->
    <slot />
  </a>
</template>

<script>
/**
 * ナビゲーションバーのブランド
 */
export default {
  name: 'ANavbarBrand',

  props: {
    /**
     * 背景色の色合い
     * `light, dark`
     */
    bgType: {
      type: String,
      required: false,
      default: 'light',
      validator(v) {
        return ['light', 'dark'].includes(v)
      }
    }
  },

  computed: {
    classes() {
      return [
        'a-navbar-brand',
        {
          'is-light': this.bgType === 'light',
          'is-dark': this.bgType === 'dark'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
$a-navbar-brand-border-radius: 4px !default;
$a-navbar-brand-font-size: 1.25rem !default;
$a-navbar-brand-line-height: 2rem !default;
$a-navbar-brand-min-width: 3em !default;
$a-navbar-brand-padding-x: 0.75rem !default;
$a-navbar-brand-padding-y: 0.25rem !default;
$a-navbar-brand-color-light: #333 !default;
$a-navbar-brand-color-dark: #fff !default;

.a-navbar-brand {
  background-color: transparent;
  border-radius: $a-navbar-brand-border-radius;
  border: none;
  cursor: pointer;
  font-size: $a-navbar-brand-font-size;
  line-height: $a-navbar-brand-line-height;
  min-width: $a-navbar-brand-min-width;
  outline: none;
  padding: $a-navbar-brand-padding-y $a-navbar-brand-padding-x;
  text-align: center;
  text-decoration: none;
  font-weight: 700;

  &.is-light {
    color: $a-navbar-brand-color-light;

    &:hover {
      background-color: rgba(#000, 0.1);
    }
  }

  &.is-dark {
    color: $a-navbar-brand-color-dark;

    &:hover {
      background-color: rgba(#fff, 0.2);
    }
  }
}
</style>
