<template>
  <nav :class="classes">
    <!-- @slot Content -->
    <slot :bgType="bgType" />
  </nav>
</template>

<script>
/**
 * ナビゲーションバー
 */
export default {
  name: 'MNavbar',

  props: {
    /**
     * 背景色の色合い
     * `light, dark`
     */
    bgType: {
      type: String,
      required: false,
      default: 'light',
      validator(v) {
        return ['light', 'dark', 'transparent'].includes(v)
      }
    }
  },

  computed: {
    classes() {
      return [
        'm-navbar',
        {
          'is-light': this.bgType === 'light',
          'is-dark': this.bgType === 'dark',
          'is-transparent': this.bgType === 'transparent'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
$m-navbar-padding: 0.5rem;
$m-navbar-background-color-light: #eee;
$m-navbar-background-color-dark: #333;

.m-navbar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: $m-navbar-padding;

  &.is-light {
    background-color: $m-navbar-background-color-light;
  }

  &.is-dark {
    background-color: $m-navbar-background-color-dark;
  }

  &.is-transparent {
    background-color: transparent;
  }
}
</style>

<docs>
### 標準的な使い方

`<MNabvar />`の内側に、`<ANavbarBrand />`、`<ANavbarLink />`等のナビゲーションバー用のコンポーネントを配置します。
`default`のSlot Scopeに、`bgType`の値が渡されるため、`<ANavbarBrand />`等には、そのまま`v-bind`してやれば、
ナビゲーションバーと内側のコンポーネントの色が揃うようになります。

> `provide`, `inject`を使って暗黙的にわたす方法のありますが、
> より明確にするために、あえて自分で`v-bind`を使うような設計にしています。

### Lightの場合の例

```jsx
<MNavbar bgType="light">
  <template slot-scope="{ bgType }">
  <ANavbarNav>
    <ANavbarBrand v-bind:bgType="bgType">Brand</ANavbarBrand>
    <ANavbarDivider v-bind:bgType="bgType" />
    <ANavbarLink v-bind:bgType="bgType">Link1</ANavbarLink>
    <ANavbarLink v-bind:bgType="bgType">Link2</ANavbarLink>
    <ANavbarDivider v-bind:bgType="bgType" />
    <ANavbarLink v-bind:bgType="bgType">Link3</ANavbarLink>
  </ANavbarNav>
</template>
</MNavbar>
```

### Darkの場合の例

```jsx
<MNavbar bgType="dark">
  <template slot-scope="{ bgType }">
  <ANavbarNav>
    <ANavbarBrand v-bind:bgType="bgType">Brand</ANavbarBrand>
    <ANavbarDivider v-bind:bgType="bgType" />
    <ANavbarLink v-bind:bgType="bgType">Link1</ANavbarLink>
    <ANavbarLink v-bind:bgType="bgType">Link2</ANavbarLink>
    <ANavbarDivider v-bind:bgType="bgType" />
    <ANavbarLink v-bind:bgType="bgType">Link3</ANavbarLink>
  </ANavbarNav>
</template>
</MNavbar>
```

### 右寄せのリンクの例

```jsx
<MNavbar>
  <template slot-scope="{ bgType }">
  <ANavbarNav>
    <ANavbarBrand v-bind:bgType="bgType">Brand</ANavbarBrand>
    <ANavbarDivider v-bind:bgType="bgType" />
    <ANavbarLink v-bind:bgType="bgType">Link1</ANavbarLink>
  </ANavbarNav>
  <ANavbarNav right>
    <ANavbarLink v-bind:bgType="bgType">Link2</ANavbarLink>
    <ANavbarDivider v-bind:bgType="bgType" />
    <ANavbarLink v-bind:bgType="bgType">Link3</ANavbarLink>
  </ANavbarNav>
</template>
</MNavbar>
```
</docs>
