<template>
  <div class="o-board-header">
    <MNavbar>
      <template slot-scope="{ bgType }">
        <ANavbarNav>
          <ANavbarBrand :bg-type="bgType">MyTask</ANavbarBrand>
          <ANavbarLink :bg-type="bgType">☆</ANavbarLink>
          <ANavbarDivider :bg-type="bgType" />
          <ANavbarLink :bg-type="bgType">プライベート</ANavbarLink>
          <ANavbarDivider :bg-type="bgType" />
          <ANavbarLink :bg-type="bgType">非公開</ANavbarLink>
        </ANavbarNav>
        <ANavbarNav right>
          <ANavbarLink :bg-type="bgType">ボードメニューを表示</ANavbarLink>
        </ANavbarNav>
      </template>
    </MNavbar>
  </div>
</template>

<script>
import Vue from 'vue'
import ANavbarBrand from './ANavbarBrand.vue'
import ANavbarDivider from './ANavbarDivider.vue'
import ANavbarLink from './ANavbarLink.vue'

export default {
  components: {
    ANavbarBrand,
    ANavbarDivider,
    ANavbarLink
  }
}
</script>

<docs>
```
<OBoardHeader />
```
</docs>
