<template>
  <div class="layout-default">
    <header><TheHeader /></header>
    <main><RouterView /></main>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import TheHeader from '@/components/TheHeader.vue'

export default Vue.extend({
  components: {
    TheHeader
  }
})
</script>

<style type="scss" scoped>
.layout-default {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
}
main {
  flex: 1;
}
</style>
