<template>
  <div id="app"><RouterView /></div>
</template>

<style lang="scss">
html,
body {
  background-color: cornflowerblue;
  font-size: 14px;
  height: 100vh;
  margin: 0;
  overscroll-behavior: none;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
#app {
  /*color: #2c3e50;*/
  color: white;
  height: 100%;
}
</style>
